/* Add CSS Styling */
p{
    background-color:rgb(229, 165, 178) ;
    color: rgb(0, 0, 0);
    font-family: "Verdana",'serif', 'sans-serif';
}
#number2{
    color: #0000ff;
    font-size: 36px;


}
.font24{
    font-size: 24px;
}
#number4-id{
    background-color: rgb(174, 246, 65);
}