html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;

}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  flex:none;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none ;
  color: white;
  font-size: 24px;
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  margin: 30px;

  

}
.card-board{
  display: flex;
  flex-flow: row wrap;
  padding: 48px;
}