/* Add CSS Styling */
.black{
    background-color: rgb(5, 0, 0);
    color: white;
}
.yellow{
    background-color: yellow;
    border-color: black;
}
.black, .yellow{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';

}